{% extends "padre.html" %}
{% load static %}
{% block ContenidoQueCambia %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">

    <h1>Hola! Soy Bautista Berasain</h1>

    <body>
    <h5>Bueno, les voy a contar un poco sobre mi</h5>
    <p>Tengo 23 años nací un 9 de febrero del año 2000, soy de Ezeiza, Argentina y actualmente vivo en Vicente lopez.</p>
	<p>Soy cadete en una empresa de seguridad informatica, un lugar en el cual trabajan con lenguajes como python</p>
	<p>siempre me inscribi en carreras que me llamaban por gustarme algo simple de la misma, pero nunca lograron interesarme demasiado, asi que me propuse aprender algo nuevo que no conociera mucho, por eso entre en este curso</p>
    <p>Actualmente estoy termminando este curso de Python y estoy analizando con que cursos seguir!!!</p>

{% endblock %}