{% extends "padre.html" %}
{% load static %}
{% block ContenidoQueCambia %}
<h1>LISTA DE TRASPASOS</h1>
<head>
  {% if Traspasos %}
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Nacionalidad</th>
        <th>Último Equipo</th>
        <th>Nuevo Equipo</th>
        <th>Valor de Traspaso</th>
        <th>Acciones</th>
      </tr>    
    </thead>
    <tbody>
      {% for jugador in Traspasos %}
        <tr>
          <td>{{ jugador.nombre }}</td>
          <td>{{ jugador.edad }}</td>
          <td>{{ jugador.nacionalidad }}</td>
          <td>{{ jugador.ultimo_equipo }}</td>
          <td>{{ jugador.nuevo_equipo }}</td>
          <td>{{ jugador.valor_de_traspaso }}</td>
          <td>
            <form method="post" action="{% url "editarTraspaso" nombre_jugador=jugador.nombre %}">
              {% csrf_token %}
              <button type="submit">Editar</button>
            </form>
            <form method="post" action="{% url "EliminarTraspaso" nombre_jugador=jugador.nombre %}">
              {% csrf_token %}
              <button type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
